body{
   margin: 0;
}

.p2{
    font-size:small;
}

.a{
    display: flex;
    background-color: dodgerblue ;
    align-items: center;
    padding: 2% 25% 25%;
    text-align: center;
}

.a>div {
    background-color: #f1f1f1;
    padding: 35px;
    margin:10px;
    border-radius: px;
    background-color: rgb(217, 217, 236);
  }

.a2{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 250px;
}

h4{
    margin: 4;
}

div{
    align-content: center;
    
}